.content{
    padding: 20px;
}
button{
    background-color: gray;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pokemons{
    text-align: left;
}